html.orange {
    --background: #fb0;
    --accent: #000;
    --message-background: orange;
    --info-background: #555;
}
html.dark {
    --background: #222;
    --accent: #eee;
    --message-background: #444;
    --info-background: #777;
}
html.light {
    --background: #ddd;
    --accent: #111;
    --message-background: #ccc;
    --info-background: #777;
}

* {
    font-family: system-ui, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--background);
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    align-items: center;
    color: var(--accent);
    border-bottom: 2px solid var(--accent);
    overflow: auto none;
}
nav > * {
    margin: 1em;
    display: inline;
}
table {
    margin: 1em;
}
table * {
    background-color: var(--background);
    color: var(--accent);
}
a {
    color: inherit;
    text-decoration: none;
}
